<?xml version="1.0"?>
<config>
    <modules>
        <Bc_OneCheckout>
            <version>0.1.0</version>
        </Bc_OneCheckout>
    </modules>
    <frontend>
        <routers>
            <onecheckout>
                <use>standard</use>
                <args>
                    <module>Bc_OneCheckout</module>
                    <frontName>bc_checkout</frontName>
                </args>
            </onecheckout>
            <checkout>
                <args>
                    <modules>
                        <onecheckout before="Mage_Checkout_OnepageController">Bc_OneCheckout</onecheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <onecheckout>
                    <file>Bc_OneCheckout.xml</file>
                </onecheckout>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <onecheckout translate="title" module="onecheckout">
                                            <title>[Bc] One Page Checkout</title>
                                            <sort_order>70</sort_order>
                                        </onecheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <helpers>
            <onecheckout>
                <class>Bc_OneCheckout_Helper</class>
            </onecheckout>
            <checkout>
                <rewrite>
                    <url>Bc_OneCheckout_Helper_Url</url>
                </rewrite>
            </checkout>
        </helpers>
        <blocks>
            <onecheckout>
                <class>Bc_OneCheckout_Block</class>
            </onecheckout>
            <checkout>
                <rewrite>
                    <onepage_link>Bc_OneCheckout_Block_Onepage_Link</onepage_link>
                </rewrite>
            </checkout>
        </blocks>
    </global>
    <default>
        <onecheckout>
            <general>
                <enabled>1</enabled>
            </general>
        </onecheckout>
    </default>
</config>